<!DOCTYPE html>
<html lang="ja"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成功</title>
</head>
<body>
    <h1>支払いが完了しました。</h1>
    <p><a href="/mypage">マイページに戻る</a></p>
</body>
</html>